---
import Layout from '../layouts/Layout.astro';
// 這裡確保讀取的是 promise 目錄下的檔案
import * as MyPromise from '../content/promise/my-promise.md';
---

<Layout>
  <div class="content">
    <MyPromise.Content />
    <a href="/Jasmine.memory">回到記憶頁</a>
  </div>
</Layout>

<style>
  .content { 
    text-align: center; 
    max-width: 600px; 
    margin: 0 auto; 
    padding-top: 10vh; 
    color: white; 
    line-height: 1.8;
  }
  .back-link { color: #ffd1dc; font-weight: bold; }
</style>