---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="promise-container">
    <h1>我們的專屬約定</h1>
    <p>（這裡填寫你想給利維看的全新約定內容）</p>
    <a href="/Jasmine.memory" class="back-link">回到夢境時光</a>
  </div>
</Layout>

<style>
  .promise-container {
    text-align: center;
    padding-top: 20vh;
    color: white;
  }
  .back-link {
    color: #ffd1dc;
    text-decoration: underline;
  }
</style>