---
import Layout from '../layouts/Layout.astro';
// 使用相對路徑直接匯入 Markdown 檔案，不走 collection 邏輯
import * as MyPromise from '../content/promise/my-promise.md';
---

<Layout>
  <div class="content">
    <MyPromise.Content />
  </div>
</Layout>

<style>
  .content { 
    text-align: center; 
    max-width: 600px; 
    margin: 0 auto; 
    padding-top: 10vh; 
    color: white; 
    line-height: 1.8;
  }
  .back-link { color: #ffd1dc; font-weight: bold; }
</style>